* {
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    /* background-color: bisque; */
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-family: 'Sofia Sans Semi Condensed', sans-serif; */
    /* padding-left: 20px; */
    padding-left: 11em;
    background-image: url(../img/imagen04.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 500px; 
}

h1 {
    color: #16b931;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 26px;
}

/* p {
    color: #9b16b9; 
    background-color: rgb(105, 171, 148);
} */

#especial {
    color: #b91616;
    background-color: rgb(149, 171, 105);
}

.especial2 {
    color: #c76f6f;
    background-color: rgb(105, 153, 171);
}

ul.navbar {
    list-style: none;
    position: absolute;
    color: #b91616;
    padding: 0;
    margin: 0;
    top: 2em;
    left: 1em;
    width: 9em;
}

ul.navbar li {
    background-color: #162cb9;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid rgb(152, 10, 10);
}

ul.navbar a {
    text-decoration: none;
}

a:link {
    color: #5d16b9;
}

a:visited {
    color: #16b92e;
}

/* Especificidad */
/* 1,0,0,0,0 */
/* p {
    color: #b91616!important;
} */

/* h1, p, h2 {
    background-color: aquamarine;
} */

/* .contenedor > div > h2, p {
    color: rgb(255, 106, 0);
} */

/* Toma el h2 y el span */
/* .articulo h2, span {
    color: rgb(255, 106, 0);
} */
/* .articulo h2 ~ span {
    color: rgb(255, 106, 0);
} */
.articulo h2 + span {
    color: rgb(255, 106, 0);
}

.contenedor {
    background-color: rgb(159, 29, 29);
    width: 600px;
    height: 550px;
    /* max-width: 500px;
    min-width: 200px; */
    margin: 10px;
    padding: 20px;
    border: 2px solid rgb(37, 10, 127);
}